<head>
    <meta charset="utf-8" />
    <script src="~/js/dashboard/jquery-3.4.1.min.js"></script>
    <!-- Add the SweetAlert CSS -->
    <script src="~/plugins/sweetalert/sweetalert2@11.js"></script>
    <script src="~/plugins/sweetalert/sweetalert.js"></script>
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="~/js/login/login.js"></script>
</head>
<body>
    @RenderBody()
</body>